@import "../../../projects/shared-design/src/lib/scss/design.scss";

:host {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}

@include host-initialized();

.flex {
  @include z-index(header);
  @include flex-row($justify: center, $align: center);
  @include border-color(secondary, $px: 2px, $suffix: bottom);
  @include get-spacer(
    map-get($spacers, padding),
    map-get($size, sb),
    map-get($size, md)
  );
}

.test {
  @include font-color(secondary);
  @include background-color(brand);
  @include background-color-focus(brand);
  @include kaleid-elevation(6);
  @include font(text);
  @include get-spacer(
    map-get($spacers, padding),
    map-get($size, sb),
    map-get($size, md)
  );
  font-size: px2rem(16);
}
