@import "../../../projects/shared-design/src/lib/scss/design.scss";

:host {
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}

.ul {
  width: 475px;

  .li {
    &:first-of-type {
      .user {
        @include font-color-v2(warn);
      }
    }
    @include flex-row($justify: space-between, $align: center);
  }
}

.add-form,
.edit-form {
  @include get-spacer(map-get($spacers, padding), map-get($size, md));
  width: 500px;
}

.add-form-div,
.edit-form-div {
  @include flex-row($gap: 2rem);
}

.add-form-subtitle {
  @include font-color-v2(warn);
}

.edit-form-subtitle {
  @include font-color-v2(grey-dark);
}
