<section class="user-list">
  <mat-card>
    <ul class="ul">
      <li *ngFor="let user of users$ | async" class="li">
        <div class="user">
          {{ user.id }} {{ user.name }}
        </div>
        <div>
          <button mat-stroked-button (click)="updateUser(user.id)">編集</button>
          <button mat-stroked-button (click)="deleteUser(user.id)">削除</button>
        </div>
      </li>
    </ul>
  </mat-card>
  <p>
    ユーザを追加する場合は、
    <a routerLink="/users/add">こちら</a>
  </p>
</section>
