@import "../../../projects/shared-design/src/lib/scss/design.scss";

:host {
  @include host-initialized();
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}

.user-list {
  @include get-spacer(map-get($spacers, padding), map-get($size, md));
}

.ul {
  @include get-spacer(
    map-get($spacers, padding),
    map-get($size, sl),
    map-get($size, sl)
  );
  list-style-type: none;

  .li {
    @include flex-row($justify: space-between, $align: center);

    &:first-of-type {
      .user {
        @include font-color-v2(warn);
      }
    }
  }
}
