<section class="user-list">
  <div *ngIf="existUser$ | async; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <ul class="ul">
      <li *ngFor="let user of users$ | async" class="li">
        <div class="user">
          {{ user.id }} {{ user.name }}
        </div>
        <div>
          <button mat-stroked-button (click)="updateUser(user.id)">編集</button>
          <button mat-stroked-button (click)="deleteUser(user.id)">削除</button>
        </div>
      </li>
    </ul>
    <p>
      ユーザを追加する場合は、
      <a routerLink="/users/add">こちら</a>
    </p>
  </ng-template>
  <ng-template #elseBlock>
    <fa-icon [icon]="faExclamationTriangle"></fa-icon>
    初めにJSON Serverを起動してください。
    <span class="guidance" (click)="showGuidance = !showGuidance">詳細はこちら</span>
    <div *ngIf="showGuidance" class="guidance-details" @expand>
      ここに詳細を記述します（後日対応）
      <p>
        ユーザを追加する場合は、
        <a routerLink="/users/add">こちら</a>
      </p>
    </div>
  </ng-template>
</section>
