@import "../../../projects/shared-design/src/lib/scss/design.scss";

:host {
  @include host-initialized();
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}

.user-list {
  @include get-spacer(map-get($spacers, padding), map-get($size, md));

  .guidance {
    @include kaleid-font-color-action($tone: _00);
    cursor: pointer;
  }

  .guidance-details {
    @include kaleid-background-color($color: warn, $level: 4);
    @include get-spacer(
      map-get($spacers, padding),
      map-get($size, sb),
      map-get($size, sb)
    );
  }
}

.ul {
  @include get-spacer(
    map-get($spacers, padding),
    map-get($size, sl),
    map-get($size, sl)
  );
  list-style-type: none;

  .li {
    @include flex-row($justify: space-between, $align: center);

    &:first-of-type {
      .user {
        @include font-color-v2(warn);
      }
    }
  }
}
