<section class="add-form">
  <form [formGroup]="addForm" (ngSubmit)="createUser()">
    <mat-card>
      <mat-card-subtitle class="add-form-subtitle">addForm</mat-card-subtitle>
      <div class="add-form-div">
        <mat-form-field>
          <input matInput [formControlName]="addFormCtrl.ID" placeholder="ID">
          <mat-error *ngIf="addForm.controls[addFormCtrl.ID].errors?.['required']">
            IDを入力してください
          </mat-error>
        </mat-form-field>
      </div>
      <div class="add-form-div">
        <mat-form-field>
          <input matInput [formControlName]="addFormCtrl.NAME" placeholder="NAME">
          <mat-error *ngIf="addForm.controls[addFormCtrl.NAME].errors?.['required']">
            NAMEを入力してください
          </mat-error>
        </mat-form-field>
      </div>
      <mat-card-actions>
        <button mat-stroked-button type="submit" [disabled]="addForm.invalid">
          送信
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <ul class="ul">
    <li class="li">
      ユーザ画面に遷移する場合は、
      <a routerLink="/users">こちら</a>
    </li>
  </ul>
</section>
