@import "../../../../../projects/shared-design/src/lib/scss/design.scss";

:host {
  @include host-initialized();
  display: block;
  font-family: "Noto Sans JP", sans-serif;
}

.add-form {
  @include get-spacer(map-get($spacers, padding), map-get($size, md));
  @include kaleid-background-color($color: warn, $level: 5);
}

.add-form-div {
  @include flex-row($gap: 2rem);

  .mat-form-field {
    width: 225px;
  }
}

.add-form-subtitle {
  @include font-color-v2(warn);
}

.ul {
  @include get-spacer(
    map-get($spacers, padding),
    map-get($size, sl),
    map-get($size, sl)
  );
  list-style-type: none;

  .li {
    @include kaleid-font();
    @include kaleid-font-color($color: warn, $level: 1);
  }
}
